---
import Main from '../../components/Main.astro';
import {getCollection, type CollectionEntry} from "astro:content" 
import Layout from '../../layouts/Layout.astro';
import H1 from '../../components/H1.astro';

export const getStaticPaths =async () => {
  const posts = await getCollection("posts");
  const paths = posts.map(post=>{
    return {
      params: {
        slug:post.slug
      },
      props: {
        post
      }
    }
  })
  return paths
}
type Props = {
  post: CollectionEntry<"posts">
}
const {post} = Astro.props
---
<Layout title={post.data.title}>
 <Main>
  <a class='text-zinc-500 text-2xl mb-16 underline block' href='/blog'>← Back to Blog List </a>
  <H1 text={post.data.title}/>
  <img src={post.data.image } alt={post.data.title}/>
  <p>{post.data.author}</p>
  <p>{post.data.image}</p>
 </Main>
</Layout> 